.nav-ul {
  margin: 0;
  padding: 10px;
  background-color: black;
}
.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}

.container{
  margin-left: 30%;
}
.right{
  text-align: right;
}
.logo{
  width: 55px;
  height: 55px;
  float: left;
  margin-left: 30px;
  margin-top: 3px;
  border-radius: 50%;
}
.input_box{
  width: 300px;
  display: block;
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
}
.submit_button{
  width: 150px;
  margin: 25px;
  padding: 15px;
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
}
.input-invalid{
  color: red;
  margin-left: 25px;
  margin-bottom: -8px;
  display: block;
  margin-top: -20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  width: 150px;
  padding: 5px;
  border: 1px solid gray;
}
.product-list ul{
  margin: 0px;
  padding: auto;
}
.search-box{
  width: 400px;
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
}
